# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# npm cache directory
.npm

# eslint cache
.eslintcache

# parcel-bundler cache (https://parceljs.org/)
.parcel-cache

# Parcel output
output/
